.user-container{
    padding: 2rem;
    margin: 2rem;
    h3{
        font-weight: 700;
        font-size: larger;
        color: rgb(35, 31, 31);
    }
}
table{
    tbody{
        td{
            max-height: 2rem;
            width: 20%;
        }
    }
}