nav {
    display:  flex;
    flex-direction: row;
    width: 100%;
    // background-color: #d7ceff63;
    background-color: rgb(3 55 244 / 52%);
    color: white;
    padding: 1rem;
    .container{
        padding: 0 2rem;
        color: white;
        Link {
          color: white;
        }

        &:last-child{
          float: right;
          display: flex;
          flex-direction: row;
          align-content: flex-end;
        }
    }
  }



