.reg-section {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgrey;
        box-shadow: inset;
        border-radius: 15px;
        padding: 1rem;
        .label {
            font-size: small;
            align-self: self-start;
            padding-left: 1rem;
        }
        .user-input {
            padding: 1rem;
            input {
                border-radius: 15px;
                border: 1px solid gray;
                padding: 0.5rem 2rem;
            }
        }
        .submit{
            padding: 0.2rem;
            button {
                cursor: pointer;
                border-radius: 15px;
                padding: 0.5rem 1rem;
                background-color:rgb(3 55 244 / 52%);
                color: white;
                border: 1px solid transparent;
                &.hover{
                    background-color: white;
                    color: rgb(3 55 244 / 52%);;
                }
            }
        }
    }
}
