.footer-section{
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9b9191a3;
    width: 100%;
    .bottom-section{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        opacity: 0.8;
    }
}